.container {
    height: 300px;
    width: 70%;
    border: 1px solid red;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container span {
    width: 100px;
    height: 30px;
    border: 1px solid blue;
    margin: 10px;
    align-self: flex-start;
    /* flex: 1; */
}