<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>杂货柜-字典值</title>
        <link href="../r/libs/font-awesome/4.0.3/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="../r/element-ui@2.15.2/index.css" rel="stylesheet" />
        <link href="../r/css/common.css" rel="stylesheet" />

        <script src="../r/vue@2.6.14/vue.js"></script>
        <script src="../r/element-ui@2.15.2/index.js"></script>
        <script src="../r/axios@0.21.1/axios.min.js"></script>
        <script src="../r/js/route.js"></script>

        <style>

            html,body {
                height: 90%;
            }

        </style>

    </head>
    <body>

        <div id="app" style="margin-top: 5%;">

            <section class="content clearfix" style="width: 55%;">
                <div> <!-- style="border-top: 1px solid #eee; padding-top: 15px;" -->
                    <div class="el-backtop" style="right: 40px; top: 130px;"><el-link  type="primary" :href="'/'" :underline="false" target="_blank"><i class="el-icon-s-home"></i></el-link></div>

                    <el-divider content-position="right">{{env}}环境</el-divider>
                    <div style="margin-top: 25px;">

                        <template>
                            <el-table :data="storageInData" border style="width: 75%" :row-style="{ height: 10+'px'}" :cell-style="{padding:0+'px'}">
                                <el-table-column prop="desc" label="描述" width="180"></el-table-column>
                                <el-table-column prop="value" label="数值" width="90"></el-table-column>
                                <el-table-column prop="eV" label="枚举值"></el-table-column>
                            </el-table>
                        </template>
                        <p style="margin-top: 5px;"></p>
                        <template>
                            <el-table :data="storageOutData" border style="width: 75%" :row-style="{ height: 10+'px'}" :cell-style="{padding:0+'px'}">
                                <el-table-column prop="desc" label="描述" width="180"></el-table-column>
                                <el-table-column prop="value" label="数值" width="90"></el-table-column>
                                <el-table-column prop="eV" label="枚举值"></el-table-column>
                            </el-table>
                        </template>


                    </div>



                </div>
            </section>
        </div>

        <div style="width: 100%; bottom: 100px;">

            <div style="border-top: 1px solid #eee; margin-left: 15%; margin-right: 15%; padding-top: 10px; text-align: center;">
                Copyright &copy; 2023-2024 白洞-杂货柜
            </div>
        </div>




        <script type="text/javascript">

        var host = window.host
        var _env = window.env

        var Main = {
            data: function() {
                return {
                    env: _env,

                    storageInData: [{
                      desc: '采购入库',
                      value: '10',
                      eV: 'IN_PURCHASE'
                    }, {
                      desc: '调拨入库',
                      value: '11',
                      eV: 'IN_ALLOCATION'
                    }, {
                      desc: '其他入库',
                      value: '12',
                      eV: 'IN_OTHER'
                    }, {
                      desc: '盘盈入库',
                      value: '13',
                      eV: 'IN_INVENTORY_PROFIT'
                    }, {
                      desc: '退货入库',
                      value: '14',
                      eV: 'IN_RETURN_GOODS'
                    }, {
                      desc: '报溢入库',
                      value: '15',
                      eV: 'IN_OVERFLOW'
                    }, {
                      desc: '兑换入库',
                      value: '16',
                      eV: 'IN_EXCHANGE'
                    }, {
                      desc: '补货入库',
                      value: '17',
                      eV: 'IN_REPLENISH'
                    }, {
                      desc: '移库入库',
                      value: '18',
                      eV: 'IN_TRANSFER'
                    }, {
                      desc: '其他采购入库',
                      value: '19',
                      eV: 'OTHER_IN_PURCHASE'
                    }, {
                      desc: '其他调拨入库',
                      value: '31',
                      eV: 'OTHER_IN_ALLOCATION'
                    }],


                    storageOutData: [{
                      desc: '销售出库',
                      value: '20',
                      eV: 'OUT_SELL'
                    }, {
                      desc: '调拨出库',
                      value: '21',
                      eV: 'OUT_ALLOCATION'
                    }, {
                      desc: '其他出库',
                      value: '22',
                      eV: 'OUT_OTHER'
                    }, {
                      desc: '盘亏出库',
                      value: '23',
                      eV: 'OUT_INVENTORY_LOSS'
                    }, {
                      desc: '报损出库',
                      value: '24',
                      eV: 'OUT_DAMAGED'
                    }, {
                      desc: '兑换出库',
                      value: '25',
                      eV: 'OUT_EXCHANGE'
                    }, {
                      desc: '补货出库',
                      value: '26',
                      eV: 'OUT_REPLENISH'
                    }, {
                      desc: '移库出库',
                      value: '27',
                      eV: 'OUT_TRANSFER'
                    }, {
                      desc: '其他销售出库',
                      value: '28',
                      eV: 'OTHER_OUT_SELL'
                    }, {
                      desc: '其他调拨出库',
                      value: '29',
                      eV: 'OTHER_OUT_ALLOCATION'
                    }, {
                      desc: '采退出库',
                      value: '30',
                      eV: 'OUT_PURCHASE'
                    }],



                }
            },
            created: function () {

            },
            methods: {

            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')

    </script>





    </body>
</html>
