<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>杂货柜-单据导出记录</title>
    <link href="../r/libs/font-awesome/4.0.3/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../r/element-ui@2.15.2/index.css" rel="stylesheet" />
    <link href="../r/css/common.css" rel="stylesheet" />

    <script src="../r/vue@2.6.14/vue.js"></script>
    <script src="../r/element-ui@2.15.2/index.js"></script>
    <script src="../r/axios@0.21.1/axios.min.js"></script>
    <script src="../r/js/route.js"></script>

    <style>
        .el-step__title.is-process {
            font-size: 15px;
        }

        .el-divider__text.is-left {
            color: #FA8919;
            font-weight: bold;
        }

        .el-input__inner {
            border-radius: 0 4px 4px 0;
        }
        .el-select {
            vertical-align: middle;
        }

    </style>

</head>
<body>

<div id="app" style="margin-top: 5%;">

    <section class="content clearfix">
        <div>
            <div class="el-backtop" style="right: 40px; top: 130px;"><el-link  type="primary" :href="'/'" :underline="false" target="_blank"><i class="el-icon-s-home"></i></el-link></div>

            <el-divider content-position="right">{{env}}环境</el-divider>
            <el-form :inline="true" class="demo-form-inline">

                <el-input v-model="fileName" placeholder="待出库订货单列表-202308171439030813210.xlsx" clearable @clear="clearFileName" style="width: 500px;">
                    <template slot="prepend">文件名</template>
                </el-input>

                <div style="display: inline-block; margin-top: 3px; margin-bottom: 3px;">
                    <div style="display: inline-block;
                        background-color: rgb(245, 247, 250);
                        color: rgb(144, 147, 153);
                        border: 1px solid rgb(220, 223, 230);
                        border-radius: 4px 0px 0px 4px;
                        height: 40px;
                        width: 50px;
                        vertical-align: middle;
                        text-align: center;
                        margin-top: auto;
                        margin-right: -6px;
                        padding-top: 9px;
                        font-size: 14px;">
                        状态
                    </div>

                    <el-select v-model="select_status" placeholder="请选择状态" @change="selectStatus(select_status)" filterable clearable @clear="clearStatus">
                        <el-option v-for="item in StatusOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </div>

                <div>
                    <el-input v-model="beginTime" placeholder="2023-03-21 09:01:00" clearable @clear="clearBeginTime" style="width: 300px;">
                        <template slot="prepend">起时间</template>
                    </el-input>
                    <el-input v-model="endTime" placeholder="2023-03-21 18:12:20" clearable @clear="clearEndTime" style="width: 300px;">
                        <template slot="prepend">止时间</template>
                    </el-input>
                    <div style="display: inline-block; margin-top: 3px; margin-bottom: 3px;">
                        <el-button type="primary" @click="onSubmit(-1)">查询</el-button>
                    </div>
                </div>

                <!-- 结果 -->
                <div style="margin-top: 15px;">
                    <!-- 操作结果 -->
                    <div style="margin-top: 10px;" v-loading="loading">
                        <el-divider content-position="left">单据导出记录</el-divider>

                        <div style="margin-left: 40px; font-weight: 500; font-size: 14px;">
                            <template>
                                <el-table :data="exportRecordList" border style="width: 100%" :row-style="{ height: 10+'px'}" :cell-style="{padding:0+'px'}"> <!-- height="250" -->
                                    <el-table-column fixed label="序号" type="index" width="50"></el-table-column>
                                    <el-table-column prop="userName" label="用户名" width="100" :show-overflow-tooltip="true"></el-table-column>
                                    <!--
                                    <el-table-column prop="realName" label="实名" width="100"></el-table-column> -->
                                    <el-table-column label="文件名" :show-overflow-tooltip="true">
                                        <template slot-scope="scope">
                                            <i @click="copy(scope.row.fileName)" class="el-icon-document-copy"></i>
                                            <span>{{ scope.row.fileName }}</span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="状态" width="100">
                                        <template slot-scope="scope">
                                            <span v-if="scope.row.fileStatusStr == '生成失败'">
                                                <span style="color: red;">生成失败</span>
                                            </span>
                                            <span v-else-if="scope.row.fileStatusStr == '已过期'">
                                                <span style="color: orange;">已过期</span>
                                            </span>
                                            <span v-else-if="scope.row.fileStatusStr == '已下载'">
                                                <span style="color: green;">已下载</span>
                                            </span>
                                            <span v-else>
                                                {{scope.row.fileStatusStr}}
                                            </span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="运行信息" align="center">
                                        <el-table-column label="正在运行" width="100" align="center">
                                            <template slot-scope="scope">
                                                <span v-if="scope.row.isRunning == 1">
                                                    <svg t="1691468608589" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4016" width="16" height="16"><path d="M414.245926 751.028148l437.57037-453.12c7.300741-7.49037 7.111111-19.531852-0.474074-26.832593-7.49037-7.300741-19.531852-7.111111-26.832593 0.474074L398.506667 712.722963 199.111111 513.327407c-7.395556-7.395556-19.437037-7.395556-26.832593 0l0 0c-7.395556 7.395556-7.395556 19.437037 0 26.832593l212.574815 212.574815c6.731852 6.731852 17.161481 7.300741 24.557037 1.896296C411.211852 753.682963 412.823704 752.545185 414.245926 751.028148z" fill="#d4237a" p-id="4017"></path></svg>
                                                </span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="startRunningDate" label="开始运行时间" width="200" align="center"></el-table-column>
                                        <el-table-column prop="threadName" label="运行线程" width="230" align="center"></el-table-column>
                                    </el-table-column>
                                    <el-table-column prop="remark" label="说明" min-width="70" :show-overflow-tooltip="true"></el-table-column>
                                    <el-table-column prop="createTimeStr" label="创建时间" width="200"></el-table-column>
                                    <el-table-column prop="updateTimeStr" label="更新时间" width="200"></el-table-column>
                                    <el-table-column prop="cost" label="耗时(秒)" width="100"></el-table-column>
                                    <el-table-column fixed="right" label="操作" width="100" v-if="disable == 0">
                                        <template slot-scope="scope">
                                            <span v-if="scope.row.fileStatusStr == '生成失败' || (scope.row.fileStatusStr == '正在生成...' && scope.row.isRunning != 1)">
                                                <el-button @click="handleRetryClick(scope.row)" type="text">重试</el-button>
                                            </span>
                                        </template>
                                    </el-table-column>

                                </el-table>
                            </template>
                        </div>
                    </div>

                    <div style="text-align: center; margin-top: 10px;">
                        <el-pagination
                                background
                                layout="prev, pager, next"
                                :current-page.sync="curPage"
                                :total="total" @current-change="handleCurrentChange">
                        </el-pagination>
                    </div>
                </div>
            </el-form>
        </div>



    </section>

</div>

<script type="text/javascript">

        var host = window.host
        var _env = window.env
        var _disable = window.disable

        var Main = {
            data: function() {
                return {
                    env: _env,
                    disable: _disable,

                    loading: false,

                    beginTime: this.dateFormat() + " 00:00:00",
                    endTime: this.dateFormat() + " 23:59:59",
                    select_status: '',
                    StatusOptions: [
                        {
                            label: '正在生成',
                            value: '10'
                        },
                        {
                            label: '生成失败',
                            value: '11'
                        },
                        {
                            label: '待下载',
                            value: '20'
                        },
                        {
                            label: '已下载',
                            value: '30'
                        },
                        {
                            label: '已过期',
                            value: '40'
                        }
                    ],

                    fileName: '',

                    exportRecordList: [],


                    total: 0,
                    curPage: 1,

                    exportRecord: {},
                    DETAIL_INDEX: '',
                    DETAIL_dialogVisible: false,
                }
            },
            created: function () {

                //this.onSubmit(1)

            },
            methods: {

                // 查询
                onSubmit(curPage) {

                    this.exportRecordList = []
                    if (curPage == -1) {
                        this.curPage = 1
                    }
                    this.total = 0
                    this.loading = true
                    axios({
                        url: host + '/er/getExportRecord',
                        method: 'POST',
                        data: {
                            fileName: this.fileName,
                            curPage: this.curPage,
                            selectStatus: this.select_status,
                            beginTime: this.beginTime,
                            endTime: this.endTime
                        },
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        }
                    })
                    .then(response => {

                        if (response.data.total == 0) {
                            this.loading = false
                            this.$message({
                                message: '未查询到数据',
                                type: 'warning'
                            });
                            this.curPage = 1
                            this.total = 0
                            return
                        }

                        this.exportRecordList = response.data.exportRecordList
                        this.total = response.data.total
                        this.curPage = curPage
                        this.loading = false
                    }, error => {
                        this.loading = false
                        this.$message({
                          message: '查询失败',
                          type: 'warning'
                        });

                        this.curPage = 1
                        this.total = 0
                        this.exportRecordList = []
                    })
                },

                handleRetryClick(row) {

                    axios({
                        url: host + '/er/retry',
                        method: 'GET',
                        params: {
                            exportRecordId: row.exportRecordIdStr
                        },
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        }
                    })
                    .then(response => {
                        if (response.data) {
                            this.$message({
                              message: response.data,
                              type: 'warning'
                            });
                        } else {
                            this.$message({
                              message: '重试完成',
                              type: 'success'
                            });
                        }

                    }, error => {
                        this.$message({
                          message: '重试失败',
                          type: 'warning'
                        });
                    })
                },



                handleCurrentChange(current_page) {
                    this.curPage = current_page
                    this.onSubmit(current_page)
                },

                clearFileName() {
                    this.fileName = ''
                },
                selectStatus(select_status) {
                    this.select_status = select_status
                },
                clearStatus() {
                    this.select_status = ''
                },

                clearBeginTime() {
                    this.beginTime = ''
                },
                clearEndTime() {
                    this.endTime = ''
                },

                // 当前日期格式化
                dateFormat() {
                    var date = new Date()
                    var year = date.getFullYear()
                    var month = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1
                    var day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate()
                    return year + '-' +month + '-' + day
                },

                copy(data) {
                    let url = data;
                    let oInput = document.createElement('textarea');
                    oInput.value = url;
                    document.body.appendChild(oInput);
                    oInput.select(); // 选择对象

                    document.execCommand("Copy"); // 执行浏览器复制命令
                    this.$message({
                        message: '复制成功',
                        type: 'success'
                    });
                    oInput.remove()
                },


            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')

    </script>
</body>
</html>
