<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>杂货柜-JSON格式化</title>
        <link href="../r/libs/font-awesome/4.0.3/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="../r/element-ui@2.15.2/index.css" rel="stylesheet" />
        <link href="../r/css/common.css" rel="stylesheet" />

        <script src="../r/vue@2.6.14/vue.js"></script>
        <script src="../r/element-ui@2.15.2/index.js"></script>
        <script src="../r/axios@0.21.1/axios.min.js"></script>
        <script src="../r/js/route.js"></script>

        <style>

            html,body {
                height: 90%;
            }

        </style>

    </head>
    <body>

        <div id="app" style="margin-top: 5%;">

            <section class="content clearfix" style="width: 55%;">
                <div> <!-- style="border-top: 1px solid #eee; padding-top: 15px;" -->
                    <div class="el-backtop" style="right: 40px; top: 130px;"><el-link  type="primary" :href="'/'" :underline="false" target="_blank"><i class="el-icon-s-home"></i></el-link></div>

                    <el-divider content-position="right">{{env}}环境</el-divider>
                    <div style="margin-top: 25px;">

                        <el-form label-width="100px" class="demo-ruleForm">
                            <div>
                                <!-- @input 监听输入事件  @paste.native 监听粘贴事件  @blur 监听失去焦点事件 -->
                                <el-input type="textarea" placeholder="请输入JSON内容" v-model="json_content" :autosize="{minRows:4,maxRows:10}"
                                          @input="format_event()" @paste.native="format_event()" @blur="format_event()"></el-input>
                            </div>
                            <div style="margin-top: 5px;">
                                <el-button type="primary" @click="format()">格式化</el-button>
                                <el-button @click="reset()">清空</el-button>
                                <span v-if="show_copy">
                                    <el-button type="success" @click="copy(json_content)">拷贝</el-button>
                                </span>
                            </div>

                            <div style="margin-top: 15px; border: 1px solid #eae3e3; padding: 10px; background: aliceblue; overflow: auto;" v-if="show_format_result">
                                <pre>{{format_result}}</pre>
                            </div>


                        </el-form>
                    </div>
                </div>
            </section>
        </div>

        <div style="width: 100%; bottom: 100px;">

            <div style="border-top: 1px solid #eee; margin-left: 15%; margin-right: 15%; padding-top: 10px; text-align: center;">
                Copyright &copy; 2023-2024 白洞-杂货柜
            </div>
        </div>




        <script type="text/javascript">

        var host = window.host
        var _env = window.env

        var Main = {
            data: function() {
                return {
                    env: _env,

                    show_copy: false,
                    show_format_result: false,

                    json_content: '',
                    format_result: '',
                }
            },
            created: function () {

            },
            methods: {

                format_event() {
                    this.format0(this.json_content)
                },

                format() {

                    if (!this.json_content) {
                        this.$message({
                            message: '请输入JSON内容',
                            type: 'warning'
                        });
                        return;
                    }

                    this.format_event();
                },
                reset() {
                    this.show_copy = false
                    this.show_format_result = false
                    this.json_content = ''
                    this.format_result = ''
                },

                format0(data) {

                    if (data.includes(':')) {
                        try {
                            //
                            data = this.t(data)
                            const obj = JSON.parse(data)
                            if (obj.hasOwnProperty('body')) {
                                // 第一层
                                obj.body = this.t(obj.body)
                                const _obj = JSON.parse(obj.body)
                                obj.body = _obj
                            }
                            if (obj.hasOwnProperty('requestBody')) {
                                try {
                                    // 第一层
                                    obj.requestBody = this.t(obj.requestBody)
                                    const _obj = JSON.parse(obj.requestBody)
                                    obj.requestBody = _obj
                                    if (obj.requestBody.hasOwnProperty('requestBody')) {
                                        // 第二层
                                        obj.requestBody.requestBody = this.t(obj.requestBody.requestBody)
                                        const _obj = JSON.parse(obj.requestBody.requestBody)
                                        obj.requestBody.requestBody = _obj
                                    }
                                } catch (err) {}
                            }

                            data = JSON.stringify(obj, null, 4)
                        } catch (err) {}
                    }

                    if (data) {
                        this.show_copy = true
                        this.show_format_result = true

                        // 显示格式化之后的结果
                        this.format_result = data
                    }

                },

                copy(data) {

                    if (data.includes(':')) {
                        try {
                            data = this.t(data)
                            const obj = JSON.parse(data)
                            if (obj.hasOwnProperty('body')) {
                                obj.body = this.t(obj.body)
                                const _obj = JSON.parse(obj.body)
                                obj.body = _obj
                            }
                            if (obj.hasOwnProperty('requestBody')) {
                                try {
                                    obj.requestBody = this.t(obj.requestBody)
                                    const _obj = JSON.parse(obj.requestBody)
                                    obj.requestBody = _obj
                                    if (obj.requestBody.hasOwnProperty('requestBody')) {
                                        obj.requestBody.requestBody = this.t(obj.requestBody.requestBody)
                                        const _obj = JSON.parse(obj.requestBody.requestBody)
                                        obj.requestBody.requestBody = _obj
                                    }
                                } catch (err) {}
                            }

                            data = JSON.stringify(obj)
                        } catch (err) {}
                    }


                    let url = data;
                    let oInput = document.createElement('textarea');
                    oInput.value = url;
                    document.body.appendChild(oInput);
                    oInput.select(); // 选择对象

                    document.execCommand("Copy"); // 执行浏览器复制命令
                    this.$message({
                        message: '复制成功',
                        type: 'success'
                    });
                    oInput.remove()
                },

                t(data) {
                    // 长整数转成字符串类型, 防止精度丢失
                    data = data.replace(/((\W*)s*):s*([0-9]{15,})s*(,?)/g, '$1: $2$3$2 $4')
                    return data;
                },

            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')

    </script>





    </body>
</html>
