<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>杂货柜-平台和平台业务</title>
    <link href="../r/libs/font-awesome/4.0.3/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../r/element-ui@2.15.2/index.css" rel="stylesheet" />
    <link href="../r/css/common.css" rel="stylesheet" />

    <script src="../r/vue@2.6.14/vue.js"></script>
    <script src="../r/element-ui@2.15.2/index.js"></script>
    <script src="../r/axios@0.21.1/axios.min.js"></script>
    <script src="../r/js/route.js"></script>
    
    <style>
        .el-step__title.is-process {
            font-size: 15px;
        }

        .el-divider__text.is-left {
            color: #FA8919;
            font-weight: bold;
        }

        .el-input__inner {
            border-radius: 0 4px 4px 0;
        }
        .el-select {
            vertical-align: middle;
        }
        .el-table__body tr.current-row > td {
            background: #b8e2e8;
        }

    </style>

</head>
<body>

<div id="app" style="margin-top: 5%;">

    <section class="content clearfix">
        <div>
            <div class="el-backtop" style="right: 40px; top: 130px;"><el-link  type="primary" :href="'/'" :underline="false" target="_blank"><i class="el-icon-s-home"></i></el-link></div>

            <el-divider content-position="right">{{env}}环境</el-divider>
            <el-form :inline="true" class="demo-form-inline">
                <!--
                <el-form-item label="">
                    <el-input v-model="condition.customerOrderNo" placeholder="订货单号" clearable></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">查询</el-button>
                </el-form-item>
-->
                <!-- 结果 -->
                <div style="margin-top: 15px;">

                    <!-- 平台 -->
                    <div style="margin-top: 10px;">
                        <el-divider content-position="left">平台</el-divider>

                        <div style="margin-left: 40px; font-weight: 500; font-size: 14px;">
                            <template>
                                <el-table :data="PlatformList" border style="width: 70%" :row-style="{ height: 10+'px'}" :cell-style="{padding:0+'px'}" highlight-current-row @current-change="handleTableChange"> <!-- height="250" -->
                                    <el-table-column label="平台名称" width="180">
                                        <template slot-scope="scope">
                                            <el-button @click="handlePlatformNameClick(scope.row.platformCode)" type="text" >{{scope.row.platformName}}</el-button> <!-- size="small" -->
                                        </template>
                                    </el-table-column>
                                    <el-table-column sortable prop="platformCode" label="平台编码" width="120"></el-table-column>
                                    <el-table-column align="center" prop="status" label="状态" width="80"></el-table-column>
                                    <el-table-column align="center" prop="createTime" label="创建时间" width="200"></el-table-column>
                                    <el-table-column align="center" prop="updateTime" label="更新时间" width="200"></el-table-column>
                                    <el-table-column sortable align="center" label="已删除" width="100">
                                        <template slot-scope="scope">
                                            <span v-if="scope.row.delete == '是'">
                                                <span style="color: red;">是</span>
                                            </span>
                                            <span v-else>
                                                否
                                            </span>
                                        </template>
                                    </el-table-column>


                                    <el-table-column align="center" prop="remarks" label="备注" ></el-table-column>
                                </el-table>
                            </template>

                            <div class="third_link">
                                <el-dialog title="外部地址" :visible.sync="PlatformName_dialogVisible" :show-close="false" width="30%" ><!--    -->
                                    <template>
                                        <!-- WMS -->
                                        <span v-if="selectPlatformCode == 'APP-00002'">
                                            <el-link type="primary" :underline="false" href="http://cp-test.pinpinding.com/#/dashboard" target="_blank">测试环境仓配系统</el-link><br>
                                            <el-link type="primary" :underline="false" href="https://cp.pinpinding.com/#/login?redirect=%2Fdashboard" target="_blank">生产环境仓配系统</el-link>
                                        </span>
                                        <!-- 蜀海 -->
                                        <span v-if="selectPlatformCode == 'APP-00003'">
                                            <el-link type="primary" :underline="false" href="https://openapi.shuhaisc.com/login" target="_blank">蜀海开放平台地址</el-link><br>
                                            <el-link type="primary" :underline="false" href="https://uatopenapi.shuhaisc.com/interfaceDocumentation" target="_blank">蜀海接口文档地址</el-link>
                                        </span>
                                        <!-- 畅捷通 -->
                                        <span v-if="selectPlatformCode == 'APP-00009'">
                                            <el-link type="primary" :underline="false" href="https://open.chanjet.com/" target="_blank">畅捷通开放平台地址</el-link><br>
                                            <el-link type="primary" :underline="false" href="https://open.chanjet.com/docs/file/apiFile" target="_blank">畅捷通接口文档地址</el-link><br>
                                            <el-link type="primary" :underline="false" href="https://t.chanjet.com/tplus/view/login.html" target="_blank">畅捷通T+系统</el-link>
                                        </span>
                                        <!-- 用友 -->
                                        <span v-if="selectPlatformCode == 'APP-00013'">
                                            <el-link type="primary" :underline="false" href="https://www.yonyoucloud.com/" target="_blank">API文档 (18062155343/Lppz@517)</el-link><br>
                                            <el-link type="primary" :underline="false" href="https://c3.yonyoucloud.com/iuap-ipaas-base/ucf-wh/console-fe/open-home/index.html#/doc-center/docDes/doc?code=open_jrwd&from=&section=022c941650ae4989af7dd6ac7fd4d412" target="_blank">开放平台</el-link><br>
                                        </span>

                                    </template>
                                </el-dialog>
                            </div>
                        </div>
                    </div>

                    <!-- 平台业务 -->
                    <div style="margin-top: 10px;">
                        <el-divider content-position="left">平台业务</el-divider>

                        <div style="margin-left: 40px; font-weight: 500; font-size: 14px;">
                            <template>

                                <div style="display: inline-block; margin-top: 3px; margin-bottom: 3px;">
                                    <div style="display: inline-block;
                        background-color: rgb(245, 247, 250);
                        color: rgb(144, 147, 153);
                        border: 1px solid rgb(220, 223, 230);
                        border-radius: 4px 0px 0px 4px;
                        height: 40px;
                        width: 50px;
                        vertical-align: middle;
                        text-align: center;
                        margin-top: auto;
                        margin-right: -6px;
                        padding-top: 9px;
                        font-size: 14px;">
                                        平台
                                    </div>

                                    <el-select v-model="value" placeholder="请选择平台" @change="selectPlatform(value)">
                                        <el-option v-for="item in PlatformOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                                    </el-select>
                                </div>


                                <div style="display: inline-block; margin-top: 3px; margin-bottom: 3px;">
                                    <div style="display: inline-block;
                                        background-color: rgb(245, 247, 250);
                                        color: rgb(144, 147, 153);
                                        border: 1px solid rgb(220, 223, 230);
                                        border-radius: 4px 0px 0px 4px;
                                        height: 40px;
                                        width: 100px;
                                        vertical-align: middle;
                                        text-align: center;
                                        margin-top: auto;
                                        margin-right: -6px;
                                        padding-top: 9px;
                                        font-size: 14px;">
                                        业务类型
                                    </div>

                                    <el-select v-model="value2" placeholder="请选择业务类型" @change="selectBusinessType(value2)" clearable >
                                        <el-option v-for="item in BusinessTypeOptions" :key="item.value" :label="item.label" :value="item.value" ></el-option>
                                    </el-select>
                                </div>


                                <span style="display: inline; margin-left: 15px;" v-if="total_platform_business > 0">
                                    <el-tag size="small">{{ total_platform_business }}</el-tag>
                                </span>

                            </template>

                            <div style="margin-top: 10px;" v-loading="loading">
                                <template>
                                    <el-table :data="platformBusinessList" border style="width: 100%" :row-style="{ height: 10+'px'}" :cell-style="{padding:0+'px'}" highlight-current-row @current-change="handleTableChange"> <!-- height="250" -->
                                        <el-table-column prop="businessCode" label="业务编码" width="150"></el-table-column>
                                        <el-table-column prop="businessName" label="业务名称" min-width="120" :show-overflow-tooltip="true"></el-table-column>
                                        <el-table-column prop="businessModeName" label="业务实现类型" width="160"></el-table-column>
                                        <!--
                                        <el-table-column prop="businessMethod" label="业务方法" width="160"></el-table-column>
                                        -->
                                        <el-table-column prop="businessType" label="程序员编码(旧)" width="130"></el-table-column>
                                        <el-table-column prop="businessOperationType" label="程序员编码(新)" width="130"></el-table-column>
                                        <el-table-column prop="businessDesc" label="业务类型名称" min-width="120" :show-overflow-tooltip="true"></el-table-column>
                                        <el-table-column sortable :sort-method="sortBusinessStatus" align="center" label="业务状态" width="160">
                                            <template slot-scope="scope">
                                                <span v-if="scope.row.status == 0">
                                                    <span style="color: red;">禁用</span>
                                                </span>
                                                <span v-else>
                                                    启用
                                                </span>
                                            </template>

                                        </el-table-column>
                                        <el-table-column sortable :sort-method="sortDeleteStatus" align="center" label="已删除" width="100">
                                            <template slot-scope="scope">
                                                <span v-if="scope.row.delete == 1">
                                                    <span style="color: red;">是</span>
                                                </span>
                                                <span v-else>
                                                    否
                                                </span>
                                            </template>
                                        </el-table-column>



                                        <el-table-column sortable align="center" prop="pushTotal" label="推送记录数量" width="150"></el-table-column>
                                        <el-table-column fixed="right" label="操作" > <!-- width="100" -->
                                            <template slot-scope="scope">
                                                <!--
                                                <el-button @click="handlePlatformBusinessClick(scope.row)" type="text" >查看</el-button> -->
                                                <el-button @click="handleUsePlatformBusinessClick(scope.row)" type="text" >使用该业务的应用({{scope.row.appBusiness.length}})</el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </template>

                                <el-dialog title="应用" :visible.sync="UsePlatformBusiness_dialogVisible" :show-close="false" width="45%">
                                    <template>
                                        <el-table :data="UsePlatformBusinessList" border style="width: 100%" :row-style="{ height: 30+'px'}" :cell-style="{padding:0+'px'}"> <!-- height="250" -->
                                            <el-table-column align="center" prop="appCode" label="应用编码" width="100"></el-table-column>
                                            <el-table-column align="center" prop="appName" label="应用名称"></el-table-column>
                                            <el-table-column align="center" prop="enterpriseName" label="企业名称" width="220"></el-table-column>
                                            <el-table-column sortable align="center" label="应用状态" width="150">
                                                <template slot-scope="scope">
                                                    <span v-if="scope.row.appStatusDesc == '禁用'">
                                                        <span style="color: red;">禁用</span>
                                                    </span>
                                                    <span v-else>
                                                        启用
                                                    </span>
                                                </template>
                                            </el-table-column>


                                        </el-table>
                                    </template>
                                </el-dialog>

                            </div>
                        </div>

                    </div>



                </div>

            </el-form>
        </div>



    </section>

</div>

<script type="text/javascript">

        var host = window.host
        var _env = window.env

        var Main = {
            data: function() {
                return {
                    env: _env,

                    selectPlatformCode: '',
                    PlatformList: [],
                    PlatformOptions: [],
                    BusinessTypeOptions: [
                        {
                            label: '收货人',
                            value: 'PA'
                        },
                        {
                            label: '商品',
                            value: 'PB'
                        },
                        {
                            label: '订货单',
                            value: 'PC'
                        },
                        {
                            label: '销售退货单',
                            value: 'PD,PO'
                        },
                        {
                            label: '发货单',
                            value: 'PF'
                        },
                        {
                            label: '销售出库单',
                            value: 'PJ'
                        },
                        {
                            label: '销退入库单',
                            value: 'PM,PP'
                        },
                        {
                            label: '采购单',
                            value: 'PG'
                        },
                        {
                            label: '采购退货单',
                            value: 'PH'
                        },
                        {
                            label: '采购入库单',
                            value: 'PI'
                        },
                        {
                            label: '采退出库单',
                            value: 'PN'
                        },
                        {
                            label: '调拨单',
                            value: 'PE'
                        },
                        {
                            label: '盘点单',
                            value: 'PK'
                        },
                        {
                            label: '报损单',
                            value: 'PL'
                        },

                    ],
                    value: '',
                    value2: '',
                    platformBusinessList: [],

                    UsePlatformBusiness_dialogVisible: false,
                    UsePlatformBusinessList: [],

                    PlatformName_dialogVisible: false,
                    total_platform_business: 0,

                    loading: false,

                    currentRow: null,
                }
            },
            created: function () {

                axios({
                    url: host + '/ab/getAllPlatform',
                    method: 'GET',
                    params: { },
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                })
                .then(response => {
                    console.log(response.data);
                    this.PlatformList = response.data

                    for (i = 0; i < this.PlatformList.length; i++) {
                        label = this.PlatformList[i]['platformName']
                        value = this.PlatformList[i]['platformCode']
                        this.PlatformOptions.push({'label': label, 'value': value})
                    }


                }, error => {
                    this.$message({
                      message: '查询平台失败',
                      type: 'warning'
                    });
                    console.log(error.message)
                })

            },
            methods: {
                // 选择平台
                selectPlatform(platformCode) {
                    this.platformBusinessList = []
                    this.total_platform_business = 0
                    this.value = platformCode

                    this.loading = true

                    axios({
                        url: host + '/ab/getAllPlatformBusiness',
                        method: 'GET',
                        params: {
                            platformCode: platformCode,
                            businessType: this.value2
                        },
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        }
                    })
                    .then(response => {
                        console.log(response.data);

                        if (response.data && response.data.length > 0) {
                            this.platformBusinessList = response.data
                            this.total_platform_business = response.data.length
                        } else {
                            this.$message({
                                message: '未查询到数据',
                                type: 'warning'
                            });
                        }
                        this.loading = false
                    }, error => {
                        this.$message({
                            message: '查询平台业务失败',
                            type: 'warning'
                        });
                        console.log(error.message)
                        this.loading = false
                    })
                },
                handlePlatformNameClick(platformCode) {
                    console.log(platformCode)

                    this.PlatformName_dialogVisible = true
                    this.selectPlatformCode = platformCode

                },

                handleTableChange(val) {
                    this.currentRow = val;
                },
                // 选择业务类型
                selectBusinessType(businessType) {
                    this.platformBusinessList = []
                    this.total_platform_business = 0
                    if (!this.value) {
                        this.$message({
                            message: '请选择平台',
                            type: 'warning'
                        });
                        return;
                    }
                    this.value2 = businessType

                    this.loading = true

                    axios({
                        url: host + '/ab/getAllPlatformBusiness',
                        method: 'GET',
                        params: {
                            platformCode: this.value,
                            businessType: businessType
                        },
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        }
                    })
                    .then(response => {
                        console.log(response.data);

                        if (response.data && response.data.length > 0) {
                            this.platformBusinessList = response.data
                            this.total_platform_business = response.data.length
                        } else {
                            this.$message({
                                message: '未查询到数据',
                                type: 'warning'
                            });
                        }
                        this.loading = false
                    }, error => {
                        this.$message({
                            message: '查询平台业务失败',
                            type: 'warning'
                        });
                        console.log(error.message)
                        this.loading = false
                    })
                },
                handlePlatformBusinessClick(row) {

                },
                // 使用该业务的应用
                handleUsePlatformBusinessClick(row) {
                    businessCode = row.businessCode

                    axios({
                        url: host + '/ab/getAppBusiness',
                        method: 'GET',
                        params: {
                            businessCode: businessCode
                        },
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        }
                    })
                    .then(response => {
                        console.log(response.data);
                        this.UsePlatformBusiness_dialogVisible = true
                        this.UsePlatformBusinessList = response.data
                    }, error => {
                        this.$message({
                          message: '查询应用失败',
                          type: 'warning'
                        });
                        console.log(error.message)
                    })
                },
                sortDeleteStatus(a, b) {
                    if (a.delete > b.delete) {
                        return -1
                    }
                },
                sortBusinessStatus(a, b) {
                    if (a.status > b.status) {
                        return -1
                    }
                },


            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')

    </script>
</body>
</html>
