<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../r/vue@2.6.14/vue.js"></script>
    <script src="../r/element-ui@2.15.2/index.js"></script>
    <script src="../r/axios@0.21.1/axios.min.js"></script>
    <script src="../r/js/route.js"></script>
    <title>监控大屏</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
            overflow-x: hidden; /* 防止横向滚动条 */
        }

        .maincontainer {
            display: flex; /* 使用 Flexbox 布局 */
            height: 95vh; /* 设置容器高度 */
        }

        .mainleft {
            flex: 0 0 80%; /* 左侧占 70% */
        }

        .mainright {
            flex: 0 0 20%; /* 右侧占 30% */
        }

        .container {
            display: flex;
            flex-wrap: wrap; /* 允许换行 */
            gap: 20px; /* 添加卡片间距 */
            justify-content: flex-start; /* 左对齐 */
        }

        .card {
            background: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 15px; /* 减少内边距 */
            width: 325px; /* 固定宽度 */
            height: auto; /* 自动高度 */
        }

        .cardMq {
            background: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 15px; /* 减少内边距 */
            width: 340px; /* 固定宽度 */
            height: auto; /* 自动高度 */
        }

        .chart {
            height: 80px; /* 减少图表高度 */
            background-color: #e9ecef;
            margin-top: 10px;
        }

        .metrics {
            display: flex;
            flex-direction: column;
            background-color: #f0f8ff; /* 浅蓝色背景 */
            padding: 10px; /* 减少内边距 */
            border-radius: 5px; /* 边框圆角 */
            margin-bottom: 10px; /* 实例之间的间距 */
        }

        .metric-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px; /* 增加行间距 */
            font-size: 0.9em; /* 减小字体 */
        }

        .instance-title {
            font-size: 1.2em; /* 增大实例标题字体 */
            font-weight: bold;
            color: #ffffff;
            background-color: #007bff; /* 蓝色背景 */
            padding: 8px;
            border-radius: 5px;
            margin-bottom: 5px; /* 增加下方间距 */
        }

        .instance-name {
            font-weight: bold; /* 实例名称加粗 */
            color: #333; /* 实例名称颜色 */
            font-size: 1em; /* 实例名称字体大小 */
        }

        .underline {
            border-bottom: 1px solid #ccc; /* 下划线样式 */
            margin: 5px 0; /* 上下间距 */
        }

        .metric-value {
            color: #007bff; /* 指标值颜色 */
            text-align: left;
            display: inline-block; /* 确保左对齐 */
        }

        .metric-mem-value {
            color: #007bff; /* 指标值颜色 */
            text-align: left;
            display: inline-block; /* 确保左对齐 */
            width: 64%;
        }

        .mqBackgroud {
            margin-bottom: 10px;
            background-color: #e1edf6; /* 浅蓝色背景 */
            padding: 3px;
            border-radius: 4px;
        }

        .alarmBack {
            background-color: #f6bba6;
            animation: bounce 1s infinite; /* 应用动画 */
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
                transform: translateY(0); /* 初始位置 */
            }
            40% {
                transform: translateY(-5px); /* 向上跳 */
            }
            60% {
                transform: translateY(-2px); /* 向上跳 */
            }
        }

        .alramVal {
            color: #99a9bf;
        }
    </style>
</head>
<body>
<div id="app" class="maincontainer">
    <div class="container mainleft">
        <div class="card">
            <div class="instance-title">MySQL 监控</div>

            <div class="metrics" :class="{'alarmBack': mysql_oms_instance.alarm}">
                <div class="metric-row">
                    <div class="instance-name">实例：ppy-oms-prod-mysql</div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>慢查询数量<span class="alramVal">({{ mysql_oms_instance.alramSlowQueryCount }})<span>：
                    </div>
                    <div class="metric-value"><span id="slow-queries-oms">{{ mysql_oms_instance.slowQueryCount }}</span>
                    </div>
                    <div>平均响应时间<span class="alramVal">({{ mysql_oms_instance.alramAverageResponseTime }})<span>：
                    </div>
                    <div class="metric-value"><span
                            id="avg-response-time-oms">{{ formattedTime(mysql_oms_instance.averageResponseTime) }} 秒</span>
                    </div>
                </div>
                <div class="metric-row">
                    <div>活跃事务数<span class="alramVal">({{ mysql_oms_instance.alramActiveTransactions }})<span>：</div>
                    <div class="metric-value"><span
                            id="slow-queries-oms">{{ mysql_oms_instance.activeTransactions }}</span>
                    </div>
                    <div>事务持续时间<span class="alramVal">({{ mysql_oms_instance.alramMaxTransactionsTime }})<span>：</div>
                    <div class="metric-value"><span
                            id="avg-response-time-oms">{{ formattedTime(mysql_oms_instance.maxTransactionsTime) }} 秒</span>
                    </div>
                </div>
                <div class="metric-row">
                    <div>锁等待数量<span class="alramVal">({{ mysql_oms_instance.alramLockWaitCount }})<span>：</div>
                    <div class="metric-value"><span
                            id="active-transactions-oms">{{ mysql_oms_instance.lockWaitCount }}</span></div>
                    <div>锁等待时间<span class="alramVal">({{ mysql_oms_instance.alramLockWaitTime }})<span>：</div>
                    <div class="metric-value"><span
                            id="lock-wait-time-oms">{{ formattedTime(mysql_oms_instance.lockWaitTime) }} 秒</span>
                    </div>
                </div>
            </div>


            <div class="metrics" :class="{'alarmBack': mysql_wms_instance.alarm}">
                <div class="metric-row">
                    <div class="instance-name">实例：ppy-wms-prod-mysql</div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>慢查询数量<span class="alramVal">({{ mysql_wms_instance.alramSlowQueryCount }})<span>：
                    </div>
                    <div class="metric-value"><span id="slow-queries-oms">{{ mysql_wms_instance.slowQueryCount }}</span>
                    </div>
                    <div>平均响应时间<span class="alramVal">({{ mysql_wms_instance.alramAverageResponseTime }})<span>：
                    </div>
                    <div class="metric-value"><span
                            id="avg-response-time-oms">{{ formattedTime(mysql_wms_instance.averageResponseTime) }} 秒</span>
                    </div>
                </div>
                <div class="metric-row">
                    <div>活跃事务数<span class="alramVal">({{ mysql_wms_instance.alramActiveTransactions }})<span>：</div>
                    <div class="metric-value"><span
                            id="slow-queries-oms">{{ mysql_wms_instance.activeTransactions }}</span>
                    </div>
                    <div>事务持续时间<span class="alramVal">({{ mysql_wms_instance.alramMaxTransactionsTime }})<span>：</div>
                    <div class="metric-value"><span
                            id="avg-response-time-oms">{{ formattedTime(mysql_wms_instance.maxTransactionsTime) }} 秒</span>
                    </div>
                </div>
                <div class="metric-row">
                    <div>锁等待数量<span class="alramVal">({{ mysql_wms_instance.alramLockWaitCount }})<span>：</div>
                    <div class="metric-value"><span
                            id="active-transactions-oms">{{ mysql_wms_instance.lockWaitCount }}</span></div>
                    <div>锁等待时间<span class="alramVal">({{ mysql_wms_instance.alramLockWaitTime }})<span>：</div>
                    <div class="metric-value"><span
                            id="lock-wait-time-oms">{{ formattedTime(mysql_wms_instance.lockWaitTime) }} 秒</span>
                    </div>
                </div>
            </div>


            <div class="metrics" :class="{'alarmBack': mysql_wspay_instance.alarm}">
                <div class="metric-row">
                    <div class="instance-name">实例：ppy-wspay-prod-mysql</div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>慢查询数量<span class="alramVal">({{ mysql_wspay_instance.alramSlowQueryCount }})<span>：
                    </div>
                    <div class="metric-value"><span
                            id="slow-queries-oms">{{ mysql_wspay_instance.slowQueryCount }}</span>
                    </div>
                    <div>平均响应时间<span class="alramVal">({{ mysql_wspay_instance.alramAverageResponseTime }})<span>：
                    </div>
                    <div class="metric-value"><span
                            id="avg-response-time-oms">{{ formattedTime(mysql_wspay_instance.averageResponseTime) }} 秒</span>
                    </div>
                </div>
                <div class="metric-row">
                    <div>活跃事务数<span class="alramVal">({{ mysql_wspay_instance.alramActiveTransactions }})<span>：</div>
                    <div class="metric-value"><span
                            id="slow-queries-oms">{{ mysql_wspay_instance.activeTransactions }}</span>
                    </div>
                    <div>事务持续时间<span class="alramVal">({{ mysql_wspay_instance.alramMaxTransactionsTime }})<span>：</div>
                    <div class="metric-value"><span
                            id="avg-response-time-oms">{{ formattedTime(mysql_wspay_instance.maxTransactionsTime) }} 秒</span>
                    </div>
                </div>
                <div class="metric-row">
                    <div>锁等待数量<span class="alramVal">({{ mysql_wspay_instance.alramLockWaitCount }})<span>：</div>
                    <div class="metric-value"><span
                            id="active-transactions-oms">{{ mysql_wspay_instance.lockWaitCount }}</span></div>
                    <div>锁等待时间<span class="alramVal">({{ mysql_wspay_instance.alramLockWaitTime }})<span>：</div>
                    <div class="metric-value"><span
                            id="lock-wait-time-oms">{{ formattedTime(mysql_wspay_instance.lockWaitTime) }} 秒</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="instance-title">K8S-OMS 监控</div>
            <div class="metrics" v-for="item in k8s_ppy.nodeMetricsList" :class="{'alarmBack': item.alarm}">
                <div class="metric-row">
                    <div class="instance-name">实例：{{ item.instanceName }} &nbsp;&nbsp;<span
                            style="color: #969b9b">({{ item.hostIP }})</span></div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>CPU使用率：</div>
                    <div class="metric-value"><span id="cpu-usage-ppy-prod">{{ item.cpuUsage }}%</span></div>
                    <div>CPU负载：</div>
                    <div class="metric-value">{{ item.cpuLoad }}</div>
                </div>
                <div class="metric-row">
                    <div>内存使用率<span class="alramVal">({{ item.alarmMemoryUsage }})</span>:</div>
                    <div class="metric-mem-value">{{ item.memoryUsage }}%</div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="instance-title">K8S-WMS 监控</div>
            <div class="metrics" v-for="item in k8s_wms.nodeMetricsList" :class="{'alarmBack': item.alarm}">
                <div class="metric-row">
                    <div class="instance-name">实例：{{ item.instanceName }} &nbsp;&nbsp;<span
                            style="color: #969b9b">({{ item.hostIP }})</span></div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>CPU使用率：</div>
                    <div class="metric-value"><span id="cpu-usage-ppy-prod">{{ item.cpuUsage }}%</span></div>
                    <div>CPU负载：</div>
                    <div class="metric-value">{{ item.cpuLoad }}</div>
                </div>
                <div class="metric-row">
                    <div>内存使用率<span class="alramVal">({{ item.alarmMemoryUsage }})</span>:</div>
                    <div class="metric-mem-value">{{ item.memoryUsage }}%</div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="instance-title">DTS同步监控</div>
            <div class="metrics" v-for="item in dts" :class="{'alarmBack':item.alarm}">
                <div class="metric-row">
                    <div class="instance-name">实例：{{ item.instanceName }}</div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>同步状态：</div>
                    <div class="metric-value"><span id="sync-status-oms">{{ item.syncTaskStatus }}</span></div>
                    <div>延迟<span class="alramVal">({{ item.alarmSyncDelay }})</span>：</div>
                    <div class="metric-value"><span id="sync-delay-oms">{{ item.syncDelay }}毫秒</span></div>
                </div>
            </div>

        </div>


        <div class="card">
            <div class="instance-title">ADB 监控</div>
            <div class="metrics" :class="{'alarmBack':adb_oms.alarm}">
                <div class="metric-row">
                    <div class="instance-name">实例：ppy-oms-prod-adb</div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>当前会话连接数<span class="alramVal">({{ adb_oms.alarmCurrentSessionConnections }})</span>：</div>
                    <div class="metric-value"><span
                            id="current-sessions-oms">{{ adb_oms.currentSessionConnections }}</span></div>
                </div>
            </div>
            <div class="metrics" :class="{'alarmBack':adb_pur.alarm}">
                <div class="metric-row">
                    <div class="instance-name">实例：purchase-adb</div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>当前会话连接数<span class="alramVal">({{ adb_pur.alarmCurrentSessionConnections }})</span>：</div>
                    <div class="metric-value"><span
                            id="current-sessions-purchase">{{ adb_pur.currentSessionConnections }}</span></div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="instance-title">Redis 监控</div>
            <div class="metrics">
                <div class="metric-row">
                    <div class="instance-name">实例：ppy-oms-prod-redis</div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>当前使用的内存：</div>
                    <div class="metric-value"><span id="used-memory-redis">{{ redis_oms.currentMemoryUsage }}</span>
                    </div>
                    <div>总内存：</div>
                    <div class="metric-value"><span id="total-memory-redis">{{ redis_oms.totalMemory }}</span></div>
                </div>
            </div>
            <div class="metrics">
                <div class="metric-row">
                    <div class="instance-name">实例：仓配3.0缓存</div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>当前使用的内存：</div>
                    <div class="metric-value"><span id="used-memory-warehouse">{{ redis_wms.currentMemoryUsage }}</span>
                    </div>
                    <div>总内存：</div>
                    <div class="metric-value"><span id="total-memory-warehouse">{{ redis_wms.totalMemory }}</span></div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="instance-title">MongoDB 监控</div>
            <div class="metrics" :class="{'alarmBack':mongo_db.alarm}">
                <div class="metric-row">
                    <div class="instance-name">实例：dds-bp121f23db32d9d4</div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>订单同步延时时间<span class="alramVal">({{ mongo_db.alarmSyncDiffTime }})</span>：</div>
                    <div class="metric-value"><span id="used-memory-redis">{{ mongo_db.syncDiffTime }} 分</span></div>
                </div>
                <div class="metric-row">
                    <div>最新订单号：</div>
                    <div class="metric-value"><span id="used-memory-redis">{{ mongo_db.storeOrderCode }}</span></div>
                </div>
                <div class="metric-row">
                    <div>OMS创建时间：</div>
                    <div class="metric-value"><span id="used-memory-redis">{{ mongo_db.omsCreateTime }}</span></div>
                </div>
                <div class="metric-row">
                    <div>Mongo创建时间：</div>
                    <div class="metric-value"><span id="used-memory-redis">{{ mongo_db.mongoCreateTime }}</span></div>
                </div>
            </div>

        </div>


    </div>
    <div class="container mainright">
        <div class="cardMq">
            <div class="instance-title">MQ 监控</div>
            <div class="metrics">
                <div class="metric-row">
                    <div class="instance-name">实例：公网</div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>消息积压分组总数：</div>
                    <div class="metric-value"><span id="queue-depth-public"
                                                    style="font-weight: bold;">{{ mq_public.length }}</span></div>
                </div>
                <div v-for="item in mq_public"
                     class="mqBackgroud"
                     :class="{'alarmBack':item.alarm}">
                    <div class="metric-row" style="color: #692e68">
                        <div>{{ item.groupId }}</div>
                    </div>
                    <div class="metric-row">
                        <div>消息堆积数<span class="alramVal">({{ item.alarmTotalDiff }})<span>：</div>
                        <div class="metric-value">{{ item.totalDiff }}</div>
                        <div>延迟时间<span class="alramVal">({{ item.alarmDelayTime }})<span>：</div>
                        <div class="metric-value">{{ item.delayTime }} 秒</div>
                    </div>
                    <div class="metric-row">
                        <div>最近消费时间：</div>
                        <div class="metric-value">{{ item.lastTime }}</div>
                    </div>
                </div>

            </div>

            <div class="metrics">
                <div class="metric-row">
                    <div class="instance-name">实例：华东1（杭州）</div>
                </div>
                <div class="underline"></div>
                <div class="metric-row">
                    <div>消息积压分组总数：</div>
                    <div class="metric-value"><span id="queue-depth-hangzhou"
                                                    style="font-weight: bold;">{{ mq_hangzhu.length }}</span></div>
                </div>
                <div v-for="item in mq_hangzhu"
                     class="mqBackgroud"
                     :class="{'alarmBack':item.alarm}">
                    <div class="metric-row" style="color: #692e68">
                        <div>{{ item.groupId }}</div>
                    </div>
                    <div class="metric-row">
                        <div>消息堆积数<span class="alramVal">({{ item.alarmTotalDiff }})<span>：</div>
                        <div class="metric-value">{{ item.totalDiff }}</div>
                        <div>延迟时间<span class="alramVal">({{ item.alarmDelayTime }})<span>：</div>
                        <div class="metric-value">{{ item.delayTime }} 秒</div>
                    </div>
                    <div class="metric-row">
                        <div>最近消费时间：</div>
                        <div class="metric-value">{{ item.lastTime }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <audio id="alarmSound" src="../r/mp3/alarmSound.mp3" preload="auto"></audio>
            <button @click="payAlarm">播放</button>
        </div>
    </div>


</div>
<script type="text/javascript">

    //var host = window.host
    var _env = window.env

    var Main = {
        data: function () {
            return {
                env: _env,
                mysql_oms_instance: {},
                mysql_wms_instance: {},
                mysql_wspay_instance: {},
                adb_oms: {},
                adb_pur: {},
                redis_oms: {},
                redis_wms: {},
                k8s_ppy: {},
                k8s_wms: {},
                mq_public: {},
                mq_hangzhu: {},
                dts: [],
                other_metrics: {},
                mongo_db: {},
                alarm: false
            }
        },
        created: function () {
            // 组件挂载后开始定时调用
            this.metricsInfo(); // 立即调用一次以获取初始数据
            this.intervalId = setInterval(this.metricsInfo, 60000); // 每分钟调用一次
        },

        computed: {},

        methods: {
            payAlarm() {
                document.getElementById('alarmSound').play();
            },
            stopAlarm() {
                document.getElementById('alarmSound').stop();
            },
            formattedTime(paramTime) {
                if (paramTime === undefined) {
                    return 0.0;
                }
                return paramTime.toFixed(2);
            },
            // 获取监控数据
            metricsInfo() {
                axios({
                    url: host + '/metrics/info',
                    method: 'GET',
                    params: {},
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                })
                    .then(response => {
                        this.mysql_oms_instance = response.data.mysql_oms_instance;
                        this.mysql_wms_instance = response.data.mysql_wms_instance;
                        this.mysql_wspay_instance = response.data.mysql_wspay_instance;
                        this.adb_oms = response.data.adb_oms;
                        this.adb_pur = response.data.adb_pur;
                        this.redis_oms = response.data.redis_oms;
                        this.redis_wms = response.data.redis_wms;
                        this.k8s_ppy = response.data.k8s_ppy;
                        this.k8s_wms = response.data.k8s_wms;
                        this.mq_public = response.data.mq_public;
                        this.mq_hangzhu = response.data.mq_hangzhu;
                        this.dts = response.data.dts;
                        this.other_metrics = response.data.other_metrics;
                        this.mongo_db = response.data.mongo_db;
                        this.alarm = response.data.alarm;
                        console.log(this.alarm)
                        if (this.alarm != undefined && this.alarm === true) {
                            document.getElementById('alarmSound').play();
                        }
                    }, error => {
                        this.$message({
                            message: '查询平台失败',
                            type: 'warning'
                        });
                        console.log(error.message)
                    })
            }
        }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')

</script>
</body>
</html>
