<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>杂货柜-服务器健康情况</title>
    <link href="../r/libs/font-awesome/4.0.3/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../r/element-ui@2.15.2/index.css" rel="stylesheet" />
    <link href="../r/css/common.css" rel="stylesheet" />

    <script src="../r/vue@2.6.14/vue.js"></script>
    <script src="../r/element-ui@2.15.2/index.js"></script>
    <script src="../r/axios@0.21.1/axios.min.js"></script>
    <script src="../r/js/route.js"></script>

    <style>
        .el-step__title.is-process {
            font-size: 15px;
        }

        .el-divider__text.is-left {
            color: #FA8919;
            font-weight: bold;
        }

        .el-input__inner {
            border-radius: 0 4px 4px 0;
        }
        .el-select {
            vertical-align: middle;
        }

    </style>

</head>
<body>

<div id="app" style="margin-top: 5%;">

    <section class="content clearfix">
        <div>
            <div class="el-backtop" style="right: 40px; top: 130px;"><el-link  type="primary" :href="'/'" :underline="false" target="_blank"><i class="el-icon-s-home"></i></el-link></div>

            <el-divider content-position="right">{{env}}环境</el-divider>
            <el-form :inline="true" class="demo-form-inline">

                <div style="margin-top: 15px;">

                    <!-- 结果 -->
                    <div style="margin-top: 10px;" v-loading="loading">
                        <el-divider content-position="left">服务器健康情况</el-divider>

                        <div style="margin-left: 40px; font-weight: 500; font-size: 14px;">
                            <template>
                                <el-table :data="operationRecordList" border style="width: 100%" :row-style="{ height: 10+'px'}" :cell-style="{padding:0+'px'}"> <!-- height="250" -->
                                    <el-table-column fixed label="序号" type="index" width="50"></el-table-column>
                                    <el-table-column prop="userName" label="用户名" width="100"></el-table-column>
                                    <el-table-column prop="realName" label="实名" width="100"></el-table-column>
                                    <el-table-column prop="moduleName" label="模块名" width="170"></el-table-column>
                                    <el-table-column prop="method" label="方法名" min-width="150" :show-overflow-tooltip="true"></el-table-column>
                                    <el-table-column prop="remark" label="动作" max-width="200" :show-overflow-tooltip="true"></el-table-column>
                                    <el-table-column prop="sourceName" label="请求来源" width="130"></el-table-column>
                                    <el-table-column prop="sourceIp" label="请求IP" width="180"></el-table-column>
                                    <el-table-column prop="handleIp" label="事件发生IP" width="140"></el-table-column>
                                    <el-table-column prop="traceId" label="观测云TRACE_ID" width="180"></el-table-column>
                                    <el-table-column prop="createTimeStr" label="访问时间" width="200"></el-table-column>
                                </el-table>
                            </template>

                        </div>
                    </div>

                    <div style="text-align: center; margin-top: 10px;">
                        <el-pagination
                                background
                                layout="prev, pager, next"
                                :current-page.sync="curPage"
                                :total="total" @current-change="handleCurrentChange">
                        </el-pagination>
                    </div>

                </div>



            </el-form>
        </div>



    </section>

</div>

<script type="text/javascript">

        var host = window.host
        var _env = window.env

        var Main = {
            data: function() {
                return {
                    env: _env,

                    serverDataList: [],


                }
            },
            created: function () {

                //this.onSubmit()

            },
            methods: {
                // 查询
                onSubmit() {

                    axios({
                        url: host + '/server/health',
                        method: 'POST',
                        data: {
                        },
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        }
                    })
                    .then(response => {
                        this.serverDataList = response.data.serverDataList
                    }, error => {
                        this.loading = false
                        this.$message({
                          message: '查询失败',
                          type: 'warning'
                        });

                        this.serverDataList = []
                    })

                },



            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')

    </script>
</body>
</html>
