.DS_Store
.vscode
Java/.idea/
OS/.idea/
Java/.idea/workspace.xml
Java/.idea/uiDesigner.xml
Java/infuq-java.iml
Java/infuq-v/infuq-v.iml
Java/infuq-v/target/

Python/.idea/Python.iml
Python/.idea/inspectionProfiles/profiles_settings.xml
Python/.idea/misc.xml
Python/.idea/modules.xml
Python/.idea/vcs.xml
Python/.idea/
